allow hal_camera_default sysfs_leds:dir { search } ;
allow hal_perf_default vendor_mpctl_prop:file { read } ;
allow init hal_drm_clearkey_exec:file { execute_no_trans } ;
allow sensors mnt_vendor_file:dir { getattr } ;
allow sensors mnt_vendor_file:dir { search } ;
allow tee mnt_vendor_file:dir { read } ;
allow crash_dump init:process { ptrace } ;
allow hal_camera_default sysfs:file { write } ;
allow hal_perf_default vendor_mpctl_prop:file { open } ;
allow init hal_drm_hwservice:hwservice_manager { add } ;
allow mm-pp-daemon mnt_vendor_file:dir { search } ;
#allow radio dpmd:unix_stream_socket { connectto } ;
#allow radio dpmservice:service_manager { add } ;
allow time_daemon mnt_vendor_file:dir { search } ;
allow hal_perf_default vendor_mpctl_prop:file { getattr } ;
allow tee mnt_vendor_file:dir { open } ;
allow dpmd netutils_wrapper_exec:file { execute } ;
allow hal_audio_default vendor_data_file:dir { write } ;
allow hal_gnss_qti hal_health_hwservice:hwservice_manager { find } ;
allow qti_init_shell mnt_vendor_file:dir { search } ;
allow qti_init_shell proc_printk:file { write } ;
allow rfs_access mnt_vendor_file:dir { search } ;
allow cnd hal_datafactory_hwservice:hwservice_manager { add } ;
allow dpmd netutils_wrapper_exec:file { read open } ;
allow hal_gnss_qti hal_health_default:binder { call } ;
allow radio hal_datafactory_hwservice:hwservice_manager { find } ;
allow rfs_access mnt_vendor_file:dir { write } ;
allow tee mnt_vendor_file:dir { search } ;
allow ueventd mnt_vendor_file:dir { search } ;
allow vold mnt_vendor_file:dir { read } ;
allow dpmd netutils_wrapper_exec:file { execute_no_trans } ;
allow hal_audio_default vendor_data_file:dir { add_name } ;
allow qti_init_shell proc_printk:file { open } ;
allow radio cnd:binder { call } ;
allow rfs_access mnt_vendor_file:dir { add_name } ;
allow vold mnt_vendor_file:dir { open } ;
allow dpmd dpmd:capability { sys_resource } ;
allow dpmd netutils_wrapper_exec:file { getattr } ;
allow hal_audio_default vendor_data_file:file { create } ;
allow hal_bluetooth_qti default_android_hwservice:hwservice_manager { add } ;
allow hal_bluetooth_qti default_android_hwservice:hwservice_manager { find } ;
allow hal_gnss_qti hal_health_default:binder { transfer } ;
allow init perfservice_exec:file { getattr } ;
allow radio cnd:binder { transfer } ;
allow rfs_access mnt_vendor_file:dir { create } ;
allow rmt_storage qti_debugfs:file { write } ;
allow vendor_init proc_printk:file { write } ;
allow vold mnt_vendor_file:dir { ioctl } ;
allow hal_audio_default vendor_data_file:file { getattr } ;
allow hal_audio_default vendor_data_file:file { read append open } ;
allow hal_health_default hal_gnss_qti:binder { call } ;
allow init perfservice_exec:file { execute } ;
allow init perfservice_exec:file { execute_no_trans } ;
allow init perfservice_exec:file { read open } ;
allow init vendor_perf_service:service_manager { add } ;
allow init vendor_perf_service:service_manager { find } ;
allow cnd radio:binder { transfer } ;
allow cnd wpa_data_file:dir { add_name } ;
allow cnd wpa_data_file:dir { write } ;
allow cnd wpa_data_file:sock_file { create } ;
allow cnd wpa_data_file:sock_file { setattr } ;
allow cnd wpa_data_file:sock_file { write } ;
allow rmt_storage qti_debugfs:file { open } ;
allow ueventd mnt_vendor_file:file { getattr } ;
allow ueventd mnt_vendor_file:file { open } ;
allow ueventd mnt_vendor_file:file { read } ;
allow apexd device:file { write } ;
allow fsck fsck:capability { dac_override } ;
allow fsck fsck:capability { dac_read_search } ;
allow init sysfs_battery_supply:file { setattr } ;
allow qti_init_shell ctl_start_prop:property_service { set } ;
allow qti_init_shell vendor_default_prop:property_service { set } ;
allow rfs_access mnt_vendor_file:dir { setattr } ;
allow tee vfat:dir { search } ;
allow vendor_init ipa_dev:chr_file { write } ;
allow vendor_init media_data_file:dir { create } ;
allow vendor_init proc:file { write } ;

