allow energyawareness sysfs:file {read open getattr}; 
allow energyawareness sysfs_uio:dir {read open search};   
allow energyawareness sysfs_uio:lnk_file { read } ;
allow energyawareness sysfs_uio_file:dir { search } ;
allow energyawareness sysfs_uio_file:file { getattr } ;
