allow hwservicemanager init:dir {search};  
allow hwservicemanager init:binder {transfer}; 
allow hwservicemanager init:file {read open};  
allow hwservicemanager init:process {getattr};
