allow init mnt_vendor_file:dir {mounton};
allow init devinfo_block_device:blk_file r_file_perms;
allow init sysfs_ir_enable:file setattr;
allow init vendor_file:file {execute_no_trans}; 
allow init system_file:file {execute_no_trans}; 
allow init init:socket {read ioctl create write}; 
allow init init:binder {call transfer}; 
allow init tee_device:chr_file {read write open ioctl}; 
allow init ion_device:chr_file {write read open ioctl}; 
allow init hwservicemanager:binder {call transfer};
allow init hal_sensors_hwservice:hwservice_manager {add find}; 
allow init hidl_base_hwservice:hwservice_manager {add}; 
allow init hal_thermal_hwservice:hwservice_manager {add}; 
allow init hal_camera_default:fd {use}; 
allow init hal_fingerprint_hwservice:hwservice_manager {add};
allow init hal_power_stats_hwservice:hwservice_manager {add};
allow init sysfs:file {read open}; 
allow init sensorservice_service:service_manager {find}; 
allow init socket_device:sock_file {unlink create setattr}; 
allow init system_server:binder {call}; 
allow init system_server:fd {use}; 
allow init system_server:unix_stream_socket {read write}; 
allow init system_server:file {execute_no_trans};
allow init system_suspend_hwservice:hwservice_manager {find};
allow init video_device:chr_file {read write open ioctl}; 
allow init graphics_device:chr_file {read open ioctl};
allow init default_android_service:service_manager {add find}; 
allow init device:chr_file {read write open ioctl}; 
allow init diag_device:chr_file {read write open ioctl};
allow init fingerprintd_data_file:file {append}; 

