allow thermal-engine thermal-engine:capability {dac_override};    
allow thermal-engine sysfs:file {read open getattr write};  
allow thermal-engine sysfs:dir {read open};  
